<div class="container">
	<form name="createFrm">
		<div class="form-group">
		    <label for="Name">Name</label>
		    <input type="text" class="form-control" id="Name" ng-model="name" required/>
		</div>
		<div class="form-group">
		    <label for="Phone">Phone Number</label>
		    <input type="text" class="form-control" id="Phone" ng-model="phone" required/>
		</div>
		<div class="form-group">
		    <label for="Email-id">Email-id</label>
		    <input type="text" class="form-control" id="mail" ng-model="mail" required/>
		</div>
		<div class="form-group">
		    <label for="UserName">UserName</label>
		    <input type="text" class="form-control" id="uname" ng-model="uname" required/>
		</div>
		<div class="form-group">
		    <label for="Password">Password</label>
		    <input type="password" class="form-control" id="password" ng-model="pass" required/>
		</div>
		<div class="form-group">
		    <label for="Confirm-Password">Confirm-Password</label>
		    <input type="password" class="form-control" id="repassword" ng-model="repass" required/>
		</div>
		<div class="form-group">
		    <label for="City">City</label>
		    <input type="text" class="form-control" id="City" ng-model="city" required/>
		</div>
		<button class="btn btn-raised btn-primary" ng-click="create()">Create</button>
	</form>
</div>