
<div class="jumbotron">
  <h2>Welcome To w3 Schools</h2>
  <p class="lead">
    <img src="images/w3.jpg" alt="I'm Yeoman"><br>
    Everything You Need to Be A Developer.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Register with us and take a first step towards being a Developer</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
